/* list of review -> dir */
body[dir='rtl'] .list li{
    align-items: flex-end !important;
}
body[dir='ltr'] .list li{
    align-items: flex-start !important;
}
.text-color{
    color: #900c3f;
    font-weight: bolder;
}